<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>©️ 2023 bucketfish</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>firefly-cherry uses apple events to display your currently playing spotify music :)</string>
</dict>
</plist>
